<div id="board" class="offset1 span9">
  <div class="row span3">
    <div class="block span3"></div>
    <div class="block span3"></div>
    <div class="block span3"></div>
  </div>
  <div class="row span3">
    <div class="block span3"></div>
    <div class="block span3"></div>
    <div class="block span3"></div>
  </div>

  <div class="row span3">
    <div class="block span3"></div>
    <div class="block span3"></div>
    <div class="block span3"></div>
  </div>
</div>