<div id="header" class="row-fluid">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">a<strong>N</strong>imal-Back</a>
      <ul class="nav">
        <li class="active"><a href="#">The Game</a></li>
        <li><a href="#/instructions">Instructions</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row-fluid span11">
  <div id="block-0" class="offset1 block span3"></div>
  <div id="block-1" class="block span3"></div>
  <div id="block-2" class="block span3"></div>
</div>
<div class="row-fluid span11">
  <div id="location-indicator" class="indicator span1">
    <div class="icon">
      <i id="visual-icon" class="icon-eye-open"></i>
    </div>
  </div>
  <div id="block-3" class="block span3"></div>
  <div class="block center span3">
    <div id="status"></div>
  </div>
  <div id="block-4" class="block span3"></div>

  <div id="auditory-indicator" class="indicator span1">
    <div class="icon">
      <i id="auditory-icon" class="icon-headphones"></i>
    </div>
  </div>
</div>

<div class="row-fluid span11">
  <div id="block-5" class="block offset1 span3"></div>
  <div id="block-6" class="block span3"></div>
  <div id="block-7" class="block span3"></div>
</div>

<div id="control-panel" class="row-fluid span11">
  <button id="start" class="btn offset3 span5">Play</button>
  <div id="stats" class="offset1"></div>
</div>

