<div class="instructions">
  <span class="instructions-text">
    <h2>Dual N-back Instructions</h2>
    In a random sequence, a block will light up and a sound will be played.
    <br>
    <br>
    When a block lights up, use the "A" and "L" keys to indicate:
    <ul>
      <li>A => The lit up block is the same as what was lit up N turns ago</li>
      <li>L => The sound is the same as what was played N turns ago</li>
      <li>Don't press anything if neither are the same or N turns haven't passed</li>
    </ul>

    <br>
    Press the "Play" button to begin!
  </span>
</div>