/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.container-fluid {
  background-color: #F0F0F0;
}

.block {
  height: 150px;
  margin-top: 20px;
  background-color: #CCC;
  border: 1px solid;
  border-radius: 3px;
}
  .light {
    background-color: #33CCCC;
  }
  .center {
    background-color: #EFEFEF;
  }

.indicator {
  margin-top: 20px;
  height: 150px;
  border: 1px solid;
  border-radius: 5px;
}

.icon {
  margin: 55px 33%;
  transform:scale(2.0,2.0);
  -ms-transform:scale(2.0,2.0); /* IE 9 */
  -moz-transform:scale(2.0,2.0); /* Firefox */
  -webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
  -o-transform:scale(2.0,2.0); /* Opera */
}

#start {
  margin-top: 20px;
}

#status {
  text-align: center;
}

#stats {
  margin-left:0px;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  display: none;
}

#user-stats-container {
  overflow: scroll;
}

#alert-window {
  position: absolute;
}